.LoaderText
{
    text-align:center;
    color:white;
    font-weight:bold;
    padding-top: 494px;
    padding-left: 59px;
    font-size: 30px;

}
.cssload-loader * {
	box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
}

.cssload-loader {
	position: absolute;
	left: 50%;
    top:50%;
	overflow: hidden;
	z-index:1000000;
	width: 650px;
	height: 650px;
	
	margin-top: -325px;
	margin-left: -325px;
	
	perspective: 1950px;
		-o-perspective: 1950px;
		-ms-perspective: 1950px;
		-webkit-perspective: 1950px;
		-moz-perspective: 1950px;
	transform-style: perserve-3d;
		-o-transform-style: perserve-3d;
		-ms-transform-style: perserve-3d;
		-webkit-transform-style: perserve-3d;
		-moz-transform-style: perserve-3d;
}

.cssload-dots {
	position: absolute;
	top: 0;
	left: 0;
	
	width: 100%;
	height: 100%;
	
	perspective: 1950px;
		-o-perspective: 1950px;
		-ms-perspective: 1950px;
		-webkit-perspective: 1950px;
		-moz-perspective: 1950px;
	transform-style: perserve-3d;
		-o-transform-style: perserve-3d;
		-ms-transform-style: perserve-3d;
		-webkit-transform-style: perserve-3d;
		-moz-transform-style: perserve-3d;
	
	animation: cssload-dots 6900ms cubic-bezierrgb(0,0,0) infinite;
		-o-animation: cssload-dots 6900ms cubic-bezierrgb(0,0,0) infinite;
		-ms-animation: cssload-dots 6900ms cubic-bezierrgb(0,0,0) infinite;
		-webkit-animation: cssload-dots 6900ms cubic-bezierrgb(0,0,0) infinite;
		-moz-animation: cssload-dots 6900ms cubic-bezierrgb(0,0,0) infinite;
}



.cssload-dot {
	position: absolute;
	top: 50%;
	left: 50%;
	
	width: 65px;
	height: 65px;
	
	margin-top: -33px;
	margin-left: -33px;
	
	border-radius: 3247px;
	
	background-color: rgb(30,63,87);
	
	transform-style: perserve-3d;
		-o-transform-style: perserve-3d;
		-ms-transform-style: perserve-3d;
		-webkit-transform-style: perserve-3d;
		-moz-transform-style: perserve-3d;
	
	animation: cssload-dot 1725ms cubic-bezier(.7,.05,.39,.88) infinite;
		-o-animation: cssload-dot 1725ms cubic-bezier(.7,.05,.39,.88) infinite;
		-ms-animation: cssload-dot 1725ms cubic-bezier(.7,.05,.39,.88) infinite;
		-webkit-animation: cssload-dot 1725ms cubic-bezier(.7,.05,.39,.88) infinite;
		-moz-animation: cssload-dot 1725ms cubic-bezier(.7,.05,.39,.88) infinite;
}

.cssload-dot:nth-child(1) {
	transform: translateY(-130px);
		-o-transform: translateY(-130px);
		-ms-transform: translateY(-130px);
		-webkit-transform: translateY(-130px);
		-moz-transform: translateY(-130px);
}

.cssload-dot:nth-child(2) {
	transform: translateX(-65px) translateY(-65px);
		-o-transform: translateX(-65px) translateY(-65px);
		-ms-transform: translateX(-65px) translateY(-65px);
		-webkit-transform: translateX(-65px) translateY(-65px);
		-moz-transform: translateX(-65px) translateY(-65px);
	animation-name: cssload-dot2;
		-o-animation-name: cssload-dot2;
		-ms-animation-name: cssload-dot2;
		-webkit-animation-name: cssload-dot2;
		-moz-animation-name: cssload-dot2;
}

.cssload-dot:nth-child(3) {
	transform: translateX(65px) translateY(-65px);
		-o-transform: translateX(65px) translateY(-65px);
		-ms-transform: translateX(65px) translateY(-65px);
		-webkit-transform: translateX(65px) translateY(-65px);
		-moz-transform: translateX(65px) translateY(-65px);
	animation-name: cssload-dot3;
		-o-animation-name: cssload-dot3;
		-ms-animation-name: cssload-dot3;
		-webkit-animation-name: cssload-dot3;
		-moz-animation-name: cssload-dot3;
}

.cssload-dot:nth-child(4) {
	transform: translateX(-130px) translateY(0px);
		-o-transform: translateX(-130px) translateY(0px);
		-ms-transform: translateX(-130px) translateY(0px);
		-webkit-transform: translateX(-130px) translateY(0px);
		-moz-transform: translateX(-130px) translateY(0px);
	animation-name: cssload-dot4;
		-o-animation-name: cssload-dot4;
		-ms-animation-name: cssload-dot4;
		-webkit-animation-name: cssload-dot4;
		-moz-animation-name: cssload-dot4;
}

.cssload-dot:nth-child(5) {
	transform: translateX(0px) translateY(0px);
		-o-transform: translateX(0px) translateY(0px);
		-ms-transform: translateX(0px) translateY(0px);
		-webkit-transform: translateX(0px) translateY(0px);
		-moz-transform: translateX(0px) translateY(0px);
	animation-name: cssload-dot5;
		-o-animation-name: cssload-dot5;
		-ms-animation-name: cssload-dot5;
		-webkit-animation-name: cssload-dot5;
		-moz-animation-name: cssload-dot5;
}

.cssload-dot:nth-child(6) {
	transform: translateX(130px) translateY(0px);
		-o-transform: translateX(130px) translateY(0px);
		-ms-transform: translateX(130px) translateY(0px);
		-webkit-transform: translateX(130px) translateY(0px);
		-moz-transform: translateX(130px) translateY(0px);
	animation-name: cssload-dot6;
		-o-animation-name: cssload-dot6;
		-ms-animation-name: cssload-dot6;
		-webkit-animation-name: cssload-dot6;
		-moz-animation-name: cssload-dot6;
}

.cssload-dot:nth-child(7) {
	transform: translateX(-65px) translateY(65px);
		-o-transform: translateX(-65px) translateY(65px);
		-ms-transform: translateX(-65px) translateY(65px);
		-webkit-transform: translateX(-65px) translateY(65px);
		-moz-transform: translateX(-65px) translateY(65px);
	animation-name: cssload-dot7;
		-o-animation-name: cssload-dot7;
		-ms-animation-name: cssload-dot7;
		-webkit-animation-name: cssload-dot7;
		-moz-animation-name: cssload-dot7;
}

.cssload-dot:nth-child(8) {
	transform: translateX(65px) translateY(65px);
		-o-transform: translateX(65px) translateY(65px);
		-ms-transform: translateX(65px) translateY(65px);
		-webkit-transform: translateX(65px) translateY(65px);
		-moz-transform: translateX(65px) translateY(65px);
	animation-name: cssload-dot8;
		-o-animation-name: cssload-dot8;
		-ms-animation-name: cssload-dot8;
		-webkit-animation-name: cssload-dot8;
		-moz-animation-name: cssload-dot8;
}

.cssload-dot:nth-child(9) {
	transform: translateX(0px) translateY(130px);
		-o-transform: translateX(0px) translateY(130px);
		-ms-transform: translateX(0px) translateY(130px);
		-webkit-transform: translateX(0px) translateY(130px);
		-moz-transform: translateX(0px) translateY(130px);
	animation-name: cssload-dot9;
		-o-animation-name: cssload-dot9;
		-ms-animation-name: cssload-dot9;
		-webkit-animation-name: cssload-dot9;
		-moz-animation-name: cssload-dot9;
}

















@keyframes cssload-dots {
	0%, 15% {
		transform: rotateZ(0deg);
	}
	25%, 40% {
		transform: rotateZ(90deg);
	}
	50%, 65% {
		transform: rotateZ(180deg);
	}
	75%, 90% {
		transform: rotateZ(270deg);
	}
	100% {
		transform: rotateZ(360deg);
	}
}

@-o-keyframes cssload-dots {
	0%, 15% {
		-o-transform: rotateZ(0deg);
	}
	25%, 40% {
		-o-transform: rotateZ(90deg);
	}
	50%, 65% {
		-o-transform: rotateZ(180deg);
	}
	75%, 90% {
		-o-transform: rotateZ(270deg);
	}
	100% {
		-o-transform: rotateZ(360deg);
	}
}

@-ms-keyframes cssload-dots {
	0%, 15% {
		-ms-transform: rotateZ(0deg);
	}
	25%, 40% {
		-ms-transform: rotateZ(90deg);
	}
	50%, 65% {
		-ms-transform: rotateZ(180deg);
	}
	75%, 90% {
		-ms-transform: rotateZ(270deg);
	}
	100% {
		-ms-transform: rotateZ(360deg);
	}
}

@-webkit-keyframes cssload-dots {
	0%, 15% {
		-webkit-transform: rotateZ(0deg);
	}
	25%, 40% {
		-webkit-transform: rotateZ(90deg);
	}
	50%, 65% {
		-webkit-transform: rotateZ(180deg);
	}
	75%, 90% {
		-webkit-transform: rotateZ(270deg);
	}
	100% {
		-webkit-transform: rotateZ(360deg);
	}
}

@-moz-keyframes cssload-dots {
	0%, 15% {
		-moz-transform: rotateZ(0deg);
	}
	25%, 40% {
		-moz-transform: rotateZ(90deg);
	}
	50%, 65% {
		-moz-transform: rotateZ(180deg);
	}
	75%, 90% {
		-moz-transform: rotateZ(270deg);
	}
	100% {
		-moz-transform: rotateZ(360deg);
	}
}

@keyframes cssload-dot {
	0% {
		transform: translateX(0) translateY(-130px);
	}
	10%, 20% {
		transform: translateX(65px) translateY(-65px);
	}
	30%, 50% {
		transform: translateX(0px) translateY(0px);
	}
}

@-o-keyframes cssload-dot {
	0% {
		-o-transform: translateX(0) translateY(-130px);
	}
	10%, 20% {
		-o-transform: translateX(65px) translateY(-65px);
	}
	30%, 50% {
		-o-transform: translateX(0px) translateY(0px);
	}
}

@-ms-keyframes cssload-dot {
	0% {
		-ms-transform: translateX(0) translateY(-130px);
	}
	10%, 20% {
		-ms-transform: translateX(65px) translateY(-65px);
	}
	30%, 50% {
		-ms-transform: translateX(0px) translateY(0px);
	}
}

@-webkit-keyframes cssload-dot {
	0% {
		-webkit-transform: translateX(0) translateY(-130px);
	}
	10%, 20% {
		-webkit-transform: translateX(65px) translateY(-65px);
	}
	30%, 50% {
		-webkit-transform: translateX(0px) translateY(0px);
	}
}

@-moz-keyframes cssload-dot {
	0% {
		-moz-transform: translateX(0) translateY(-130px);
	}
	10%, 20% {
		-moz-transform: translateX(65px) translateY(-65px);
	}
	30%, 50% {
		-moz-transform: translateX(0px) translateY(0px);
	}
}

@keyframes cssload-dot2 {
	0% {
		transform: translateX(-65px) translateY(-65px);
	}
	10%, 55% {
		transform: translateX(0px) translateY(0px);
	}
}

@-o-keyframes cssload-dot2 {
	0% {
		-o-transform: translateX(-65px) translateY(-65px);
	}
	10%, 55% {
		-o-transform: translateX(0px) translateY(0px);
	}
}

@-ms-keyframes cssload-dot2 {
	0% {
		-ms-transform: translateX(-65px) translateY(-65px);
	}
	10%, 55% {
		-ms-transform: translateX(0px) translateY(0px);
	}
}

@-webkit-keyframes cssload-dot2 {
	0% {
		-webkit-transform: translateX(-65px) translateY(-65px);
	}
	10%, 55% {
		-webkit-transform: translateX(0px) translateY(0px);
	}
}

@-moz-keyframes cssload-dot2 {
	0% {
		-moz-transform: translateX(-65px) translateY(-65px);
	}
	10%, 55% {
		-moz-transform: translateX(0px) translateY(0px);
	}
}

@keyframes cssload-dot4 {
	0% {
		transform: translateX(-130px) translateY(0px);
	}
	10%, 30% {
		transform: translateX(-65px) translateY(65px);
	}
	40%, 65% {
		transform: translateX(0px) translateY(0px);
	}
}

@-o-keyframes cssload-dot4 {
	0% {
		-o-transform: translateX(-130px) translateY(0px);
	}
	10%, 30% {
		-o-transform: translateX(-65px) translateY(65px);
	}
	40%, 65% {
		-o-transform: translateX(0px) translateY(0px);
	}
}

@-ms-keyframes cssload-dot4 {
	0% {
		-ms-transform: translateX(-130px) translateY(0px);
	}
	10%, 30% {
		-ms-transform: translateX(-65px) translateY(65px);
	}
	40%, 65% {
		-ms-transform: translateX(0px) translateY(0px);
	}
}

@-webkit-keyframes cssload-dot4 {
	0% {
		-webkit-transform: translateX(-130px) translateY(0px);
	}
	10%, 30% {
		-webkit-transform: translateX(-65px) translateY(65px);
	}
	40%, 65% {
		-webkit-transform: translateX(0px) translateY(0px);
	}
}

@-moz-keyframes cssload-dot4 {
	0% {
		-moz-transform: translateX(-130px) translateY(0px);
	}
	10%, 30% {
		-moz-transform: translateX(-65px) translateY(65px);
	}
	40%, 65% {
		-moz-transform: translateX(0px) translateY(0px);
	}
}

@keyframes cssload-dot6 {
	0%, 10% {
		transform: translateX(130px) translateY(0px);
	}
	20% {
		transform: translateX(65px) translateY(-65px);
	}
	30%, 70% {
		transform: translateX(0px) translateY(0px);
	}
}

@-o-keyframes cssload-dot6 {
	0%, 10% {
		-o-transform: translateX(130px) translateY(0px);
	}
	20% {
		-o-transform: translateX(65px) translateY(-65px);
	}
	30%, 70% {
		-o-transform: translateX(0px) translateY(0px);
	}
}

@-ms-keyframes cssload-dot6 {
	0%, 10% {
		-ms-transform: translateX(130px) translateY(0px);
	}
	20% {
		-ms-transform: translateX(65px) translateY(-65px);
	}
	30%, 70% {
		-ms-transform: translateX(0px) translateY(0px);
	}
}

@-webkit-keyframes cssload-dot6 {
	0%, 10% {
		-webkit-transform: translateX(130px) translateY(0px);
	}
	20% {
		-webkit-transform: translateX(65px) translateY(-65px);
	}
	30%, 70% {
		-webkit-transform: translateX(0px) translateY(0px);
	}
}

@-moz-keyframes cssload-dot6 {
	0%, 10% {
		-moz-transform: translateX(130px) translateY(0px);
	}
	20% {
		-moz-transform: translateX(65px) translateY(-65px);
	}
	30%, 70% {
		-moz-transform: translateX(0px) translateY(0px);
	}
}

@keyframes cssload-dot8 {
	0%, 10% {
		transform: translateX(65px) translateY(65px);
	}
	20%, 80% {
		transform: translateX(0px) translateY(0px);
	}
}

@-o-keyframes cssload-dot8 {
	0%, 10% {
		-o-transform: translateX(65px) translateY(65px);
	}
	20%, 80% {
		-o-transform: translateX(0px) translateY(0px);
	}
}

@-ms-keyframes cssload-dot8 {
	0%, 10% {
		-ms-transform: translateX(65px) translateY(65px);
	}
	20%, 80% {
		-ms-transform: translateX(0px) translateY(0px);
	}
}

@-webkit-keyframes cssload-dot8 {
	0%, 10% {
		-webkit-transform: translateX(65px) translateY(65px);
	}
	20%, 80% {
		-webkit-transform: translateX(0px) translateY(0px);
	}
}

@-moz-keyframes cssload-dot8 {
	0%, 10% {
		-moz-transform: translateX(65px) translateY(65px);
	}
	20%, 80% {
		-moz-transform: translateX(0px) translateY(0px);
	}
}

@keyframes cssload-dot9 {
	0%, 10% {
		transform: translateX(0px) translateY(130px);
	}
	20%, 30% {
		transform: translateX(-65px) translateY(65px);
	}
	40%, 85% {
		transform: translateX(0px) translateY(0px);
	}
}

@-o-keyframes cssload-dot9 {
	0%, 10% {
		-o-transform: translateX(0px) translateY(130px);
	}
	20%, 30% {
		-o-transform: translateX(-65px) translateY(65px);
	}
	40%, 85% {
		-o-transform: translateX(0px) translateY(0px);
	}
}

@-ms-keyframes cssload-dot9 {
	0%, 10% {
		-ms-transform: translateX(0px) translateY(130px);
	}
	20%, 30% {
		-ms-transform: translateX(-65px) translateY(65px);
	}
	40%, 85% {
		-ms-transform: translateX(0px) translateY(0px);
	}
}

@-webkit-keyframes cssload-dot9 {
	0%, 10% {
		-webkit-transform: translateX(0px) translateY(130px);
	}
	20%, 30% {
		-webkit-transform: translateX(-65px) translateY(65px);
	}
	40%, 85% {
		-webkit-transform: translateX(0px) translateY(0px);
	}
}

@-moz-keyframes cssload-dot9 {
	0%, 10% {
		-moz-transform: translateX(0px) translateY(130px);
	}
	20%, 30% {
		-moz-transform: translateX(-65px) translateY(65px);
	}
	40%, 85% {
		-moz-transform: translateX(0px) translateY(0px);
	}
}

@keyframes cssload-dot3 {
	0%, 20% {
		transform: translateX(65px) translateY(-65px);
	}
	30%, 60% {
		transform: translateX(0px) translateY(0px);
	}
}

@-o-keyframes cssload-dot3 {
	0%, 20% {
		-o-transform: translateX(65px) translateY(-65px);
	}
	30%, 60% {
		-o-transform: translateX(0px) translateY(0px);
	}
}

@-ms-keyframes cssload-dot3 {
	0%, 20% {
		-ms-transform: translateX(65px) translateY(-65px);
	}
	30%, 60% {
		-ms-transform: translateX(0px) translateY(0px);
	}
}

@-webkit-keyframes cssload-dot3 {
	0%, 20% {
		-webkit-transform: translateX(65px) translateY(-65px);
	}
	30%, 60% {
		-webkit-transform: translateX(0px) translateY(0px);
	}
}

@-moz-keyframes cssload-dot3 {
	0%, 20% {
		-moz-transform: translateX(65px) translateY(-65px);
	}
	30%, 60% {
		-moz-transform: translateX(0px) translateY(0px);
	}
}

@keyframes cssload-dot7 {
	0%, 30% {
		transform: translateX(-65px) translateY(65px);
	}
	40%, 75% {
		transform: translateX(0px) translateY(0px);
	}
}

@-o-keyframes cssload-dot7 {
	0%, 30% {
		-o-transform: translateX(-65px) translateY(65px);
	}
	40%, 75% {
		-o-transform: translateX(0px) translateY(0px);
	}
}

@-ms-keyframes cssload-dot7 {
	0%, 30% {
		-ms-transform: translateX(-65px) translateY(65px);
	}
	40%, 75% {
		-ms-transform: translateX(0px) translateY(0px);
	}
}

@-webkit-keyframes cssload-dot7 {
	0%, 30% {
		-webkit-transform: translateX(-65px) translateY(65px);
	}
	40%, 75% {
		-webkit-transform: translateX(0px) translateY(0px);
	}
}

@-moz-keyframes cssload-dot7 {
	0%, 30% {
		-moz-transform: translateX(-65px) translateY(65px);
	}
	40%, 75% {
		-moz-transform: translateX(0px) translateY(0px);
	}
}